Repository datakaveri/iudx-deployment: changes, and which Jenkins stages are due for each by the changed paths.
All: Kubescape Scan, Kubescape Scan1

Kubescape Scan:
        steps {
          sh 'helm template -f K8s-deployment/Charts/resource-server/values.yaml -f K8s-deployment/Charts/resource-server/example-azure-resource-values.yaml K8s-deployment/Charts/resource-server  > resource-server.yaml'
          sh 'kubescape scan resource-server.yaml --format pdf'
  ...

Kubescape Scan1:
        steps {
          sh 'helm template -f K8s-deployment/Charts/resource-server/values.yaml -f K8s-deployment/Charts/resource-server/example-azure-resource-values.yaml K8s-deployment/Charts/resource-server  > resource-server.yaml'
          sh 'kubescape scan resource-server.yaml --format pdf'
  ...

updated Jenkinsfile
  Jenkinsfile
Due: Kubescape Scan

updated Jenkinsfile
  Jenkinsfile
  auth.txt
  cat.txt
  di.txt
  file.txt
  gis.txt
  lip.txt
  report.html
  report.txt
  resource-server.yaml
  rs.txt
Due: Kubescape Scan

Update K8s deployment README
  K8s-deployment/README.md
  docs/IUDX-Dependency-Graph.png
  docs/Layered-Deployment-stack.png
  docs/Overview-Deloyment-IUDX-K8s.png
Due: none

updated Jenkinsfile
  cat.txt
  di.txt
  file.txt
  gis.txt
  lip.txt
  rs.txt
Due: none

updated Jenkinsfile
  Jenkinsfile
  auth.txt
Due: Kubescape Scan

updated Jenkinsfile
  auth.txt
  cat.txt
  di.txt
  file.txt
  gis.txt
  lip.txt
  rs.txt
Due: none

updated Jenkinsfile
  Jenkinsfile
  file.txt
Due: Kubescape Scan

updated Jenkinsfile
  a.txt
Due: Kubescape Scan1

PR fixes
  Docker-Swarm-deployment/single-node/elk/database-stack.yaml
  Docker-Swarm-deployment/single-node/elk/elasticsearch/elasticsearch.yaml
Due: none

updated Jenkinsfile
  Jenkinsfile
  auth.txt
  cat.txt
  di.txt
  file.txt
  gis.txt
  lip.txt
  rs.txt
Due: Kubescape Scan

updated Jenkinsfile
  auth.txt
Due: none

fix es-autoscaler rbac and script
  K8s-deployment/Charts/elk/elasticsearch/autoscale-rbac.yaml
  K8s-deployment/Charts/elk/elasticsearch/es-autoscaler.sh
Due: none

Correct grammar in main readme
  README.md
  docs/Overview-Deloyment-IUDX-K8s.png
  docs/deployment_overview.png
Due: none

Update K8s deployment Readme
  K8s-deployment/README.md
  README.md
Due: none

Add Swarm readme
  Docker-Swarm-deployment/single-node/README.md
  docs/Deployment-stack-swarm.png
  docs/Overview-Deloyment-IUDX-Swarm.png
Due: none

updated AAA docker image tag to 4.5.0-a5755bd (#449)
  Docker-Swarm-deployment/single-node/auth/auth-stack.yaml
  K8s-deployment/Charts/auth-server/Chart.yaml
  K8s-deployment/Charts/auth-server/values.yaml
Due: none

updated di docker image tag to 4.5.0-d16a2f2 (#450)
  Docker-Swarm-deployment/single-node/data-ingestion-server/di-stack.yaml
  K8s-deployment/Charts/data-ingestion/Chart.yaml
  K8s-deployment/Charts/data-ingestion/values.yaml
Due: none

Path conditions:
  Kubescape Scan: any of: Jenkinsfile
  Kubescape Scan1: any of: a.txt
