Repository datakaveri/iudx-deployment: changes, and which Jenkins stages are due for each by the changed paths.
All: Kubescape Scan for RS, Kubescape Scan for Auth, Kubescape Scan for CAT, Kubescape Scan for LIP, Kubescape Scan for FS, Kubescape Scan for GIS, Kubescape Scan for DI

Path conditions:
  Kubescape Scan for RS: any of: rs.txt
  Kubescape Scan for Auth: any of: auth.txt
  Kubescape Scan for CAT: any of: cat.txt
  Kubescape Scan for LIP: any of: lip.txt
  Kubescape Scan for FS: any of: file.txt
  Kubescape Scan for GIS: any of: gis.txt
  Kubescape Scan for DI: any of: di.txt

updated CAT docker image tag to 4.5.0-df0a82e (#451)
  Docker-Swarm-deployment/single-node/catalogue/cat-stack.yaml
  K8s-deployment/Charts/catalogue/Chart.yaml
  K8s-deployment/Charts/catalogue/values.yaml
Due: none

updated FS docker image tag to 4.5.0-aa16a3b (#454)
  Docker-Swarm-deployment/single-node/file-server/file-server-stack.yaml
  K8s-deployment/Charts/file-server/Chart.yaml
  K8s-deployment/Charts/file-server/values.yaml
Due: none

updated GIS docker image tag to 4.5.0-02c7276 (#455)
  Docker-Swarm-deployment/single-node/gis/gis-stack.yaml
  K8s-deployment/Charts/gis-interface/Chart.yaml
  K8s-deployment/Charts/gis-interface/values.yaml
Due: none

updated rs docker image tag to 4.5.0-alpha-b85a5d8
  Docker-Swarm-deployment/single-node/resource-server/rs-stack.yaml
  K8s-deployment/Charts/resource-server/Chart.yaml
  K8s-deployment/Charts/resource-server/values.yaml
Due: none

updated rs docker image tag to 5.0.0-alpha-59e4a24
  Docker-Swarm-deployment/single-node/resource-server/rs-stack.yaml
  K8s-deployment/Charts/resource-server/Chart.yaml
  K8s-deployment/Charts/resource-server/values.yaml
Due: none

updated rs docker image tag to 5.0.0-alpha-59e4a24 (#459)
  Docker-Swarm-deployment/single-node/resource-server/rs-stack.yaml
  K8s-deployment/Charts/resource-server/Chart.yaml
  K8s-deployment/Charts/resource-server/values.yaml
Due: none

fix es-autoscaler rbac and script
  K8s-deployment/Charts/elk/elasticsearch/autoscale-rbac.yaml
  K8s-deployment/Charts/elk/elasticsearch/es-autoscaler.sh
Due: none

updated Jenkinsfile
  Jenkinsfile
Due: none

made changes to cat.txt
  cat.txt
Due: Kubescape Scan for CAT

updated FS docker image tag to 5.0.0-alpha-db603f6
  Docker-Swarm-deployment/single-node/file-server/file-server-stack.yaml
  K8s-deployment/Charts/file-server/Chart.yaml
  K8s-deployment/Charts/file-server/values.yaml
Due: none

made changes to cat.txt
  a.txt
  cat.txt
  report.html
Due: Kubescape Scan for CAT

made changes to auth.txt
  auth.txt
Due: Kubescape Scan for Auth

made changes to file.txt
  file.txt
Due: Kubescape Scan for FS

made changes to gis.txt
  gis.txt
Due: Kubescape Scan for GIS

updated CAT docker image tag to 5.0.0-alpha-44b1c2a
  Docker-Swarm-deployment/single-node/catalogue/cat-stack.yaml
  K8s-deployment/Charts/catalogue/Chart.yaml
  K8s-deployment/Charts/catalogue/values.yaml
Due: none

Added Jenkinsfile and auth.txt
  Jenkinsfile
  auth.txt
Due: Kubescape Scan for Auth

updated Jenkinsfile and cat.txt
  Jenkinsfile
  cat.txt
Due: Kubescape Scan for CAT

updated Jenkinsfile and cat.txt
  Jenkinsfile
Due: none

updated FS docker image tag to 5.0.0-alpha-b7ecce0
  Docker-Swarm-deployment/single-node/file-server/file-server-stack.yaml
  K8s-deployment/Charts/file-server/Chart.yaml
  K8s-deployment/Charts/file-server/values.yaml
Due: none

updated rs docker image tag to 5.0.0-alpha-b7af427
  Docker-Swarm-deployment/single-node/resource-server/rs-stack.yaml
  K8s-deployment/Charts/resource-server/Chart.yaml
  K8s-deployment/Charts/resource-server/values.yaml
Due: none

updated di docker image tag to 5.0.0-alpha-82821b5
  Docker-Swarm-deployment/single-node/data-ingestion-server/di-stack.yaml
  K8s-deployment/Charts/data-ingestion/Chart.yaml
  K8s-deployment/Charts/data-ingestion/values.yaml
Due: none

updated rs docker image tag to 5.0.0-alpha-b7af427 (#472)
  Docker-Swarm-deployment/single-node/resource-server/rs-stack.yaml
  K8s-deployment/Charts/resource-server/Chart.yaml
  K8s-deployment/Charts/resource-server/values.yaml
Due: none

updated FS docker image tag to 5.0.0-alpha-b7ecce0 (#470)
  Docker-Swarm-deployment/single-node/file-server/file-server-stack.yaml
  K8s-deployment/Charts/file-server/Chart.yaml
  K8s-deployment/Charts/file-server/values.yaml
Due: none

updated di docker image tag to 5.0.0-alpha-82821b5 (#473)
  Docker-Swarm-deployment/single-node/data-ingestion-server/di-stack.yaml
  K8s-deployment/Charts/data-ingestion/Chart.yaml
  K8s-deployment/Charts/data-ingestion/values.yaml
Due: none
